:root {
  --sidebar-bg-color: white;
  --card-bg-color: white;
  --body-bg-color: #f7f7fb;
  --text-dark-color: #0d163a;
  --accent-color: #4745a4;
  --highlight-color: #f9ba33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: var(--body-bg-color);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

aside {
  background-color: var(--sidebar-bg-color);
  color: var(--text-dark-color);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  top: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}

.image-wrapper {
  background-color: rgb(224, 224, 224);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 18px;
}

aside.collapsed .image-wrapper {
  display: none;
}

aside.collapsed {
  width: 80px;
}

aside.collapsed .nav-text {
  display: none;
}

aside.collapsed .menu-toggle i {
  transform: rotate(180deg);
}

.menu-toggle {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-toggle i {
  transition: transform 0.3s ease;
  font-size: 1rem;
  min-width: 24px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav-item {
  margin-bottom: 0.5rem;
  border-left: 3px solid transparent;
  transition: border-color 0.2s;
}

.nav-item.separator {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-end {
  margin-top: auto;
}

.nav-item.logout .nav-link {
  color: #e74c3c;
}

.nav-item > a > svg {
  width: 2rem;
}

.nav-item.active > a > svg {
  color: var(--highlight-color);
}

.nav-item.active {
  border-left-color: var(--accent-color);
}

.nav-item.active .nav-link {
  font-weight: 500;
}

.nav-item:hover {
  background-color: #f0f0f0;
}

.nav-link {
  color: var(--text-dark-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.75rem;
  transition: all 0.2s;
  font-weight: 300;
  white-space: nowrap;
}

.nav-link i {
  font-size: 1.2rem;
  min-width: 24px;
  text-align: center;
}

/*Css for left column */
.main-content {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.left-column {
  flex: 2;
  padding: 1rem;
}

.right-column {
  flex: 1;
  padding: 1rem;
}

.search-form {
  width: 100%;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
  font-size: 1rem;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 2.2rem;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  outline: none;
}

.search-input::placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #999;
}

.search-input:focus {
  border-color: var(--accent-color);
}

/* overview css */
.overview {
  margin-top: 1rem;
  border-radius: 16px;
  padding: 1rem;
  background-color: var(--card-bg-color);
}

.overview-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 0.5px #8c8c8c;
  border-radius: 50%;
  font-size: 1rem;
}

.card:first-child .icon-circle {
  border: 1px solid #ffffff;
}

.icon-circle {
  color: black;
}

.icon-circle svg {
  color: black;
}

.card:first-child .icon-circle svg {
  color: white;
}
.card-container .card:first-child {
  background-color: var(--accent-color);
  color: white;
}

.card-container .card .card-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.card-container .card .card-header .card-title {
  font-size: 1.2rem;
}
.card-container .card .card-header .card-subtitle {
  font-size: 0.7rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: var(--text-dark-color);
}
.card-container .card:first-child .card-header .card-subtitle {
  color: rgb(240, 240, 240);
}
.card .card-divider {
  height: 1px;
  width: 100%;
  background-color: var(--text-dark-color);
  margin: 10px 0;
}
.card:first-child .card-divider {
  height: 1px;
  width: 100%;
  background-color: wheat;
  margin: 10px 0;
}
.card {
  flex: 1 1 45%;
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text {
  color: #555;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  aside {
    width: 70px;
  }

  aside.collapsed {
    width: 80px;
  }

  .menu-toggle {
    display: none;
  }

  .nav-link i {
    font-size: 1.5rem;
  }
  .main-content {
    flex-direction: column;
  }
}
